<div class="row">
  <div class="col-sm-6">
    <h1>{{{user.username}}}</h1>
  </div>
  <div class="col-sm-6">
    <p>Created on: {{{user.created_at}}}</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    {{#each user.posts}}
      <div class="card p-3 mb-1">
        <a href="/posts/{{this._id}}" class="lead">{{this.title}}</a>
        <a href="{{this.url}}" target="_blank">{{this.url}}</a>
        <div>
          <a href="/users/profile/{{this.author._id}}"><small>{{this.author.username}}</small></a>
        </div>

        <div class="position-absolute px-3" style="right:0; bottom:0">
          {{#each this.subreddits}}
          <a href="/n/{{this}}">{{this}} </a>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="col-sm-6">
    {{#each user.comments}}
      <div class="card p-3 mb-1">
        <p class="mb-0">{{this.content}}</p>
      </div>
    {{/each}}
  </div>
</div>
